* {
    outline: none;
    font-family: 'Oswald', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #464547;
}

.error {
    background-color: rgba(160, 73, 73, 0.23);
}

.error:focus {
    background-color: rgba(160, 73, 73, 0.42);
}


div.center {
    margin: 40px auto;
}

::-webkit-scrollbar {
    width: 6px;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: rgba(234, 234, 234, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(170, 170, 170, 0.7);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}

body.login-page {
    overflow: hidden;
}

header {
    z-index: 2;
    height: 80px;
    background-color: #47a0bd;
    box-shadow: 0 4px 6px 0 rgba(12, 12, 12, 0.12);
    width: 100%;
}

header > div {
    padding: 15px 15px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    transition: color 0.7s ease;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
}

.logo > i.material-icons {
    font-size: 30px;
    margin-right: 10px;
    color: #464547;
}

.logo:hover {
    color: #464547;
}

menu {
    margin-top: 80px;
    padding-left: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    box-shadow: 7px 1px 5px -4px rgba(0, 0, 0, 0.29);
    background-color: rgba(173, 172, 174, 0.22);
}

menu > div.section {
    border-bottom: solid 1px rgba(68, 67, 69, 0.2);
    padding: 25px 20px;
}

.page-link {
    text-align: center;
    color: rgb(120, 120, 120);
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
}

.page-link > i.material-icons {
    color: rgb(120, 120, 120);
    font-size: 23px;
}

.page-link:hover {
    color: #2a8fa4;
}

.page-link.active {
    color: #2a8fa4;
}

main {
    position: relative;
    padding-bottom: 40px;
    margin-left: 200px;
    margin-top: 30px;
}

a.title {
    color: #205e73;
    align-content: flex-start;
    text-decoration: none;
    font-size: 33px;
    font-weight: 300;
}

footer {
    position: absolute;
    bottom: -25px;
    z-index: 1;
    height: 25px;
    width: 100%;
    color: rgba(186, 186, 186, 0.36);
    background-color: #c9c7ca;
    box-shadow: 1px -6px 5px -4px rgba(0, 0, 0, 0.12);
}

footer > p {
    margin: 0;
    color: rgba(101, 101, 101, 0.62);
    text-align: center;
}

button {
    margin: 10px;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 300;
    background-color: #7f993a;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #b6d042;
}

button.delete {
    background-color: #993e40;
}

button.delete:hover {
    background-color: #dd5759
}

button.edit {
    background-color: #65737a;
}

button.edit:hover {
    background-color: #a0b7be;
}

button.small {
    margin: 1px;
    height: 25px;
    width: 75px;
    font-size: 12px;
    font-weight: 400;
}

button.medium {
    margin: 2px;
    height: 33px;
    width: 100px;
    font-size: 17px;
    font-weight: 300;
}

input {
    border: solid 1px rgba(225, 224, 226, 0.93);
    padding: 8px;
    margin: 10px;
    transition: background-color 0.3s ease;
    background-color: #faf9fb;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 300;
}

input:read-only {
    border: none;
    background-color: rgba(181, 180, 182, 0.14);
}

input:focus {
    background-color: #f0eff1;
}

input.small {
    margin: 1px;
    height: 25px;
    width: 150px;
    font-size: 12px;
}

input.medium {
    margin: 2px;
    height: 33px;
    width: 150px;
    font-size: 17px;
}

textarea {
    border: solid 1px rgba(225, 224, 226, 0.93);
    padding: 8px;
    transition: background-color 0.3s ease;
    background-color: #faf9fb;
    font-size: 20px;
    font-weight: 300;
    max-width: 100%;
}

textarea:focus {
    background-color: #f0eff1;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 5px 8px;
    transition: background-color 0.3s ease;
    background-color: #faf9fb;
    border: solid 1px rgba(225, 224, 226, 0.93);
    font-size: 20px;
    font-weight: 300;
}

select:focus {
    outline: none;
    background-color: #f0eff1;
}

.add-panel {
    margin: 25px;
    padding: 2%;
    transition: background-color 0.3s ease;
    background-color: rgba(181, 180, 182, 0.12);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.27);
    width: 80%;
    height: 65px;
    min-height: 30px;
}

.search-panel {
    margin: 25px 25px 50px;
    padding: 2%;
    transition: background-color 0.3s ease;
    background-color: rgba(181, 180, 182, 0.12);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.27);
    width: 80%;
    height: 65px;
    min-height: 30px;
}

.content-panel {
    margin: 10px 40px;
    padding: 3%;
    background-color: rgba(206, 205, 207, 0.12);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.27);
}

.content-panel.news-content-box {
    transition: background-color 0.3s ease, opacity 0.3s ease, box-shadow 0.4s ease;
}

.news-content-box:hover {
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.11);
}

.news-content-box.active {
    opacity: 0.65;
    background-color: rgba(107, 107, 107, 0.24);
}

h1.title {
    margin: 15px;
    color: #3b3a3c;
    text-decoration: none;
    font-size: 35px;
    font-weight: 300;
}

div.holder {
    width: 100%;
    display: inline-block;
}

.news-title {
    color: #205e73;
    display: inline-block;
    float: left;
}

.news-date {
    color: rgba(186, 186, 186, 1);
    font-weight: 300;
    font-size: 25px;
    display: inline-block;
    float: right;
}

.news-author {
    color: rgb(71, 71, 71);
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    float: left;
}

.news-content {
    margin-top: 25px;
    margin-bottom: 25px;
}

.news-tags {
    color: #2a8ca5;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    float: left;
}

.news-comment-count {
    color: rgb(131, 131, 131);
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    float: right;
}

.news-comments-title {
    margin-top: 15px;
    color: rgb(193, 193, 193);
    font-weight: 300;
    font-size: 25px;
    border-bottom: solid 3px rgb(201, 201, 201);
}

.news-comment-content {
    padding: 20px;
    width: 60%;
    margin-top: 20px;
    background-color: rgba(162, 162, 162, 0.12);
    border-radius: 2px;
    font-weight: 300;
    border: solid 1px rgba(201, 201, 201, 0.4);
    display: inline-block;
}

.news-comment-date {
    color: rgb(201, 201, 201);
    font-weight: 300;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    display: inline-block;
}

.option {
    display: inline-block;
    float: right;
    color: #464547;
}

.option > i.material-icons {
    padding: 12px;
    font-size: 30px;
    text-decoration: none;
    color: rgba(148, 147, 149, 0.73);
}

textarea.comment-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 40px;
    min-width: 65%;
    max-width: 65%;
}

.delete-icon > i.material-icons {
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    color: #949395;
}

.navigate {
    margin-top: -30px;
    width: 30px;
    height: 100%;
    position: absolute;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: rgba(254, 253, 255, 0);
    padding: 5px;
}

.navigate > i.material-icons {
    top: 49%;
    position: absolute;
    font-size: 30px;
    color: #6a696b;
}

.previous {
    top: 0;
    left: 0;
}

.next {
    top: 0;
    right: 0;
}

.navigate:hover {
    background-color: rgba(228, 227, 229, 0.31);
}

button.show-comments {
    width: 20px;
    background: transparent;
    color: #c4c1c1;
}

button.show-comments:hover {
    background: transparent;
}

.logout-holder {
    display: inline-block;
    float: right;
}

.username-holder {
    margin: 12px;
    display: inline-block;
    float: right;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.small.logout {
    margin-top: 12px;
    background-color: #548198;
    border-radius: 15px;
}

.logout:hover {
    background-color: #345669;
}

.delete-box {
    font-size: 23px;
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 200px;
}

.delete-box > div {
    text-align: center;
    align-content: center;
    color: rgb(120, 120, 120);
    font-weight: 300;
}

b.items-count {
    color: #47a0bd;
}

.delete-box > .delete-news {
    display: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.delete-box > .delete-news:hover {
    background-color: rgba(255, 255, 255, 0);
}

.delete-news > i.material-icons {
    font-size: 50px;
    text-decoration: none;
    color: rgba(148, 147, 149, 1);
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.27);
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgba(206, 205, 207, 0.12);
    transition: background-color 0.4s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #47a0bd;
    color: white;
    border: 1px solid #2a8fa4;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

div.pagination-holder {
    padding: 20px;
    text-align: center;
    margin: 25px;
}

.new-title-holder {
    width: 300px;
    display: inline-block;
    float: left;
}

.news-text {
    width: 95%;
    margin: 15px;
    display: inline-block;
    float: left;

}

.news-text.full-text {
    height: 25%;
}

.select-holder {
    padding-top: 30px;
    width: 20%;
    display: inline-block;
}

.select-holder.author {
    float: left;
    padding-left: 18%;
}

.select-holder.tag {
    float: right;
    padding-right: 28%;
}

.right {
    float: right;
}

.criteria-holder {
    margin-top: 2%;
    display: inline-block;
    float: left;
    left: 0;
    width: 40%;
}

.select-holder.author.search {
    float: left;
    margin: 0;
    padding-top: 0;
    padding-left: 5%;
}

.select-holder.tag.search {
    float: right;
    margin: 0;
    padding-top: 0;
    padding-right: 20px;
}

.content-panel.login {
    margin-top: 10%;
    width: 250px;
}