<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>

    <Appenders>
        <File name="FILE" fileName="logs/newslog.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.epam.news" level="debug"/>

        <Root level="info">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>